<div class="bgImage">
    <img src="assets/images/splash-bg.jpg" alt="Background Image" class="displayImage">
    <div class="top-corner-container">
        <div class="img">
            <img src="assets/images/mute.svg" alt="Back Icon" class="top-corner-img">
            <p class="top-corner-text">Mute</p>
        </div>
        <div class="img">
            <img src="assets/images/exit.svg" alt="Back Icon" class="top-corner-img">
            <p class="top-corner-text">Exit</p>
        </div>
    </div>
    <div class="centerContent">
        <img src="assets/images/splash.svg" alt="Centered Image" class="centeredImage">
        <div class="overlayContent">
            <div class="textContent">
                <h2>Welcome to</h2>
                <h1>Cyber Safety</h1>
                <p>Click <b>Start</b> when you are ready to begin</p>
            </div>
            <button class="startButton" [routerLink]="['/introduction-page']">Start</button>
        </div>
    </div>
</div>


<!-- <img src="assets/images/mute.svg" alt="Mute Icon" class="top-corner-img mr-15">
        <p class="top-corner-text">Mute</p>
        <img src="assets/images/exit.svg" alt="Back Icon" class="top-corner-img">
        <p class="top-corner-text">Exit</p> -->