
.bgImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


.displayImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


.top-left-text {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.top-left-text span {
    font-size: 20px;
    font-weight: 900;
}


.top-corner-container {
    position: fixed;
    display: flex;
    gap: 15px;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 1000;
    flex-wrap: wrap; 
}

.top-corner-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.top-corner-text {
    margin: 0;
    font-size: 14px;
    color: #fff;
}


.video-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 140px);
    z-index: 2;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-controls {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.play-pause-button {
    background: hsl(175, 100%, 69%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

.play-pause-button mat-icon {
    font-size: 24px;
    color: #000;
}


.bottom-corner-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
}

.bottom-corner-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bottom-corner-text {
    margin: 0 5px;
    font-size: 14px;
    color: #fff;
}

.bottom-left,
.bottom-right {
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    .top-corner-container,
    .bottom-corner-container {
        /* flex-direction: column; */
        align-items: center;
        gap: 10px;
        right: 50%;
        transform: translateX(50%);
    }

    .top-corner-img,
    .bottom-corner-img {
        width: 20px;
        height: 20px;
    }

    .top-corner-text,
    .bottom-corner-text {
        font-size: 12px;
    }

    .video-container {
        height: calc(100vh - 100px);
        margin-top: 10px;
    }

    .play-pause-button {
        padding: 5px;
    }

    .play-pause-button mat-icon {
        font-size: 18px;
    }

    .top-left-text {
        font-size: 14px;
    }

    .top-left-text span {
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    .top-left-text,
    .bottom-corner-text {
        font-size: 10px;
    }

    .top-corner-container {
        flex-direction: row;
        justify-content: end;
        width: 100%;
        top: 0;
    }

    .bottom-corner-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .video-container {
        /* height: calc(100vh - 80px); */
        height: auto;
    }
}
