<div class="bgImage">
    <div class="top-left-text">
        <p><span>Cyber Safety</span> | Introduction</p>
    </div>
    <div class="top-corner-container">
        <div class="img">
            <img src="assets/images/menu.svg" alt="Back Icon" class="top-corner-img">
            <p class="top-corner-text">Menu</p>
        </div>
        <div class="img">
            <img src="assets/images/mute.svg" alt="Mute Icon" class="top-corner-img">
            <p class="top-corner-text">Mute</p>
        </div>
        <div class="img">
            <img src="assets/images/exit.svg" alt="Exit Icon" class="top-corner-img">
            <p class="top-corner-text">Exit</p>
        </div>
    </div>
    <div class="policy-content">
        <div class="main-content">
            <div class="policy-text">
                <p>Our Policy sets out responsibilities and standards to help keep our data safe.</p>
                <p>If you are not yet familiar with it, select the Policy image to take a look, otherwise select Next to
                    continue.</p>
            </div>
            <div class="policy-image">
                <div class="image-placeholder">
                    <p>Your Policy here</p>
                    <button class="zoom-button">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-corner-container">
        <div class="img bottom-left">
            <img src="assets/images/back.svg" alt="Back Icon" class="bottom-corner-img">
            <p class="bottom-corner-text">Back</p>
        </div>
        <div class="text-center bottom-center">
            <p>Select <b>Next</b> To Proceed.</p>
        </div>
        <div class="img bottom-right">
            <p class="bottom-corner-text">Next</p>
            <img src="assets/images/next.svg" alt="Next Icon" class="bottom-corner-img">
        </div>
    </div>
</div>